#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	mkdir build && meson build --prefix=/usr -Dudev-dir=/lib/udev

override_dh_auto_build:
	ninja -C build -v

override_dh_auto_test:
	ninja -C build test

override_dh_auto_install:
	DESTDIR=${CURDIR}/debian/tmp ninja -C build install
	find . -name \*.md5 -delete
